.popup__close-button {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  min-height: 32px;
  min-width: 32px;
  cursor: pointer;
  background-image: url(../../../images/Close.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition: all .3s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  background-image: url(../../../images/close-hover.svg);
}

@media screen and (max-width: 650px) {
  .popup__close-button {
    background-size: 20px;
    top: -45px;
    right: -5px;
  }
}
