.photo-grid__item-description {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  width: 280px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
