.photo-grid__card-btn {
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.photo-grid__card-btn:hover {
  opacity: 0.5;
}

.photo-grid__card-btn:active {
  opacity: 1;
  background-image: url(../../../images/like-active.svg);
}
