.photo-grid__card-img {
  cursor: pointer;
  background-position: 50%;
  background-size: cover;
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: all 0.1s ease-in;
  width: 100%;
}
