.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 27px;
    min-height: 55px;
  }
}
